table, th, td {
    border:1px solid black;
  }

.no-border{
    border: 0px;
}

.width-200{
    width: 200px;
}

input{
    border: none;
}

#chao{
    border-color: #fff;
    background-color: aqua;
}